<html>
  <body>
    ようこそ <%= name %> さん
    <% for (let c of contents) { %>
      <ul>
        <li><a href="/download?name=<%= c.name %>"><%= c.name %>(<%= c.size %>)</a></li>
      </ul>
    <% } %>
  </body>
</html>
